---
permalink: /resources/index.html
---
<!doctype html>
<html lang="zh-CN"><head><meta charset="utf-8"><meta http-equiv="refresh" content="0;url={{ '/publications/' | relative(page.url) }}"><title>MMSLAB</title></head><body><a href="{{ '/publications/' | relative(page.url) }}">论文成果</a></body></html>
